<div class="header clearfix" style="z-index">
 <ul class="nav nav-pills pull-right">
  <li>
    <div class="navbar-search pull-left">
        <input type="text" class="search-query" placeholder="Найти">
    </div>
</li>
</ul>
<div style="text-align:top">
    <img src="/assets/img/logo.jpg" style="height:60px" class="img-circle" />
    <div id="ChannelId">Женя</div>
</div>


</div>
<div class="">
<div class="prokrutka"></div>
</div>    

<div id="connected">
<div class="form-inline">
    <input class="input-block-level" type="text" placeholder="Введите сообщение" id="MessageId" value="">
    <!-- <button class="btn btn-primary" type="button" id="send_btn">Отпр.</button> -->
</div>
</div>