<div class="container">
    <div class="hero-unit span6" id="rockets">
        <h2>My Rocket</h2>
        <button class="btn btn-success addObject">add one</button>
        <button class="btn btn-info toJSON">to JSON</button>
        <table class="table table-striped">
            <thead>
            <th data-sort="name">Name</th>
            <th data-sort="size">Size</th>
            <th data-sort="description">Description</th>
            <th>Actions</th>
            </thead>
            <tbody class="rocketsList"></tbody>
        </table>
        <div class="rocketsTotal">
            Total items: <span class="rockets-count">0</span>
            Total size: <span class="rockets-size">0</span>
        </div>
        <pre class="json-out"></pre>

    </div>
</div>


