<td class="name" contenteditable="true"><%- name %></td>
<td class="size form-horizontal" >
    <button data-rel="-10" class="changeSize btn dtn-small btn-primary">-</button>
    <input class="size" type="number" value="<%- size %>" style="width:50px;"/>
    <button data-rel="10" class="changeSize btn dtn-small btn-success">+</button>
</td>

<td class="desc" contenteditable="true"><%- description %></td>
<td>
    <button class="deleteRow btn btn-small btn-danger"><i class="icon-remove icon-white"></i></button>
</td>
